@import "./node_modules/bootstrap/scss/bootstrap";

.title {
    padding-bottom: 1rem;
}

.main-paige {
    .game-item:hover {
        background-color: lightgrey;
    }
}

.tyrants-of-the-underdark {
    display: flex;

    .table-col {
        display: flex;
        flex-direction: column;
        width: 100%;

        & tr {
            height: 55px;
        }
    }

    .sum-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70%;
        justify-content: space-between;
    }
}
