@import "./node_modules/bootstrap/scss/bootstrap";

.hidden {
    display: none;
}

.title {
    padding-bottom: 1rem;

    & > div {
        display: flex;
        justify-content: space-between;
    }
}

button {
    width: 10rem !important;
}

.create-player {
    display: flex;
    justify-content: space-between;

    .add-player {
        display: flex;
        width: 100%;

        & input {
            width: 100%;
            margin-right: 0.5rem;
        }

        & button {
            margin-right: 0.5rem;
        }
    }
}

.players-section {
    margin-bottom: 2rem;
}

.players-list-modal {
    .modal-body {
        overflow-y: scroll;
        height: 80%;
    }
}

.main-paige {
    .game-list-item:hover {
        background-color: lightgrey;
    }
}

.modal-overlay {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    display: block;
    background: white;
    width: 70%;
    height: 50%;
    padding: 1rem;
    border-radius: 1rem;
}

.game-item {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem auto 0;

    .table-col {
        display: flex;

        .criteria-list {
            display: flex;
            flex-direction: column;
        }

        .criteria-name {
            display: flex;
            align-items: center;
            border-bottom: 1px solid lightgrey;
        }

        .criteria-item {
            width: 150px;
            height: 63px;

            &.form-control {
                height: 55px;
                margin: 0.5rem;
            }
        }

        .total-count {
            height: 55px;
            border-left: 2px solid grey;
            padding-left: 1.5rem;
        }

        .match-item {
            display: flex;
        }
    }

    .game-buttons {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 100px;
        left: 0;
        width: 100vw;

        button {
            margin-right: 1rem;
        }
    }
}
