@import "./node_modules/bootstrap/scss/bootstrap";

.title {
    padding-bottom: 1rem;

    & > div {
        display: flex;
        justify-content: space-between;
    }
}

button {
    width: 10rem;
}

.create-player {
    display: flex;
    margin-bottom: 3rem;

    input {
        margin-right: 1rem;
    }
}

.main-paige {
    .game-list-item:hover {
        background-color: lightgrey;
    }
}

.game-item {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem auto 0;

    .table-col {
        display: flex;

        .criteria-list {
            display: flex;
            flex-direction: column;
        }

        .criteria-name {
            display: flex;
            align-items: center;
            border-bottom: 1px solid lightgrey;
        }

        .criteria-item {
            width: 150px;
            height: 63px;

            &.form-control {
                height: 55px;
                margin: 0.5rem;
            }
        }

        .total-count {
            height: 55px;
            border-left: 2px solid grey;
            padding-left: 1.5rem;
        }

        .match-item {
            display: flex;
        }
    }

    .game-buttons {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 100px;
        left: 0;
        width: 100vw;

        button {
            margin-right: 1rem;
        }
    }
}
