.game-match {
    .criteria-name {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--color-lightgrey);
    }

    .criteria-item {
        width: 150px;
        height: 70px;
    }

    .criteria-item:first-child {
        height: 90px;
    }

    .form-control {
        height: 55px;
        margin: 1rem auto;
    }

    .game-match-total-count {
        height: 70px;
        border-left: 2px solid var(--color-lightgrey);
    }

    .game-match-field:first-child {
        height: 90px;
    }

    .game-match-field {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .error-validation {
            position: relative;
            left: 1rem;
            top: -1.2rem;
            font-size: 0.8rem;
            color: var(--color-red);
        }
    }
}
